<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Testing.Properties.Settings.DB16TestConnectionString"
            connectionString="Data Source=DESKTOP-A6V6CVR\SQLEXPRESS;Initial Catalog=DB16Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>